node-red/flows/node-red.txt
[{"id":"b7b9a2d.bb8476","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eda09c49.b3009","type":"mqtt in","z":"b7b9a2d.bb8476","name":"iotkit/auth","topic":"iotkit/auth","qos":"2","datatype":"auto","broker":"e8558182.ca4d9","nl":false,"rap":true,"rh":0,"x":340,"y":300,"wires":[["d25164c5.f9b718"]]},{"id":"d25164c5.f9b718","type":"change","z":"b7b9a2d.bb8476","name":"extract topic and message","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.uid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["ae69200f.dde8a"]]},{"id":"ae69200f.dde8a","type":"http request","z":"b7b9a2d.bb8476","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://localhost:9898","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":300,"wires":[["56f7dfd8.0e45e"]]},{"id":"56f7dfd8.0e45e","type":"change","z":"b7b9a2d.bb8476","name":"extract topic and message","rules":[{"t":"move","p":"statusCode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":300,"wires":[["69dae985.d46c78","7cee0708.829198"]]},{"id":"69dae985.d46c78","type":"mqtt out","z":"b7b9a2d.bb8476","name":"","topic":"iotkit/lol","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e8558182.ca4d9","x":1440,"y":280,"wires":[]},{"id":"7cee0708.829198","type":"debug","z":"b7b9a2d.bb8476","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":400,"wires":[]},{"id":"9288d0a8.58e57","type":"mqtt in","z":"b7b9a2d.bb8476","name":"","topic":"iotkit/registerBadge","qos":"2","datatype":"auto","broker":"e8558182.ca4d9","nl":false,"rap":true,"rh":0,"x":370,"y":440,"wires":[["ef37191d.0d30f8"]]},{"id":"ef37191d.0d30f8","type":"change","z":"b7b9a2d.bb8476","name":"extract topic and message","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.BadgeUid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":400,"wires":[["4667bf1a.9b9f7"]]},{"id":"2e4aa3af.7f1c8c","type":"http request","z":"b7b9a2d.bb8476","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"http://localhost:9898","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":420,"wires":[["93fb06db.820d88","d800dc61.03a2c"]]},{"id":"93fb06db.820d88","type":"change","z":"b7b9a2d.bb8476","name":"extract topic and message","rules":[{"t":"move","p":"statusCode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":460,"wires":[["8975a8e3.5a3ca8"]]},{"id":"8975a8e3.5a3ca8","type":"mqtt out","z":"b7b9a2d.bb8476","name":"","topic":"iotkit/lol2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e8558182.ca4d9","x":1340,"y":520,"wires":[]},{"id":"d800dc61.03a2c","type":"debug","z":"b7b9a2d.bb8476","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":640,"wires":[]},{"id":"4667bf1a.9b9f7","type":"json","z":"b7b9a2d.bb8476","name":"","property":"payload","action":"","pretty":false,"x":810,"y":500,"wires":[["2e4aa3af.7f1c8c"]]},{"id":"e8558182.ca4d9","type":"mqtt-broker","name":"Mosquitto","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]